html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

li {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
}

.glow-md {
  /* box-shadow: rgba(186, 186, 190, 0.2) 0px 4px 18px 0px; */
  box-shadow: rgba(255, 255, 255, 0.11) 0px 0px 20px;
}

.transition-height {
  transition: height 0.3s;
}

.glow-text {
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 0px rgba(202, 228, 225, 0.42), 0 0 0px rgba(30, 132, 242, 0.58),
    0 0 0px rgba(30, 132, 242, 0.84), 0 0 0px rgba(30, 132, 242, 0.88);
}

.button:hover .svg {
  color: white;
  fill: rgba(37, 99, 235);
  transform: rotate(-0.25turn);
}

/* .test-1 {
  border-width: 1px;
  border-color: rgb(255, 0, 255);
}
.test-2 {
  border-width: 1px;
  border-color: rgb(255, 255, 0);
}

.test-3 {
  border-width: 1px;
  border-color: rgb(0, 255, 255);
} */

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
