@tailwind base;
@tailwind components;
@tailwind utilities;

/* li {
  list-style: none;
} */

.indent-1 {
  text-indent: 2rem;
}

.indent-2 {
  text-indent: 3rem;
}

.max-h-custom {
  max-height: 54rem;
}
